htdocs/cgi-bin/temp/**/*
htdocs/cgi-bin/cgi.log
htdocs/cgi-bin/sqlite.db
htdocs/cgi-bin/latest_skus.csv
htdocs/_
node_modules/
logs/
scripts/
DEV.md
README.txt
izelplants-fusion-tables
.env.js
reports/
temp/
*.old
data/
